ul.lerteco_wall {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

ul.lerteco_wall li {
    border-bottom: 1px solid #cecece;
    padding: 3px 10px 3px 2px;
    min-height: 42px;
    clear: both;
}

ul.lerteco_wall li:last-child {
    border-bottom: 0px;
}

ul.lerteco_wall li img.u-avatar {
    float: left;
    margin-right: 8px;
}

ul.lerteco_wall li p {
    margin: 0;
    padding: 0;
}

ul.lerteco_wall li p.posting {
    margin-bottom: 1em;
}

ul.lerteco_wall li p.time {
    color: #cecece;
}

div.lerteco_wall_edit input.ccm-input-text {
    width: 25px;
}